.section {
  /* max-width: 800px; */
  text-align: left;
  padding: 2rem 2rem;
  /* min-height: 100vh; */
  text-align: center;
}

.sectionLight {
  background-color: #fff;
}

.sectionDark {
  background-color: #c9d1c7;
  padding-top: 80px;
}

.section h2 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.section p {
  font-size: 0.9rem;
  line-height: 1.75;
  margin-bottom: 1rem;
  color: #1f2937;
}

.buttonGroup {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  text-align: center;
  justify-content: center;
}

.button {
  background-color: #1f2937;
  color: white;
  padding: 0.6rem 1.2rem;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 500;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #2563eb;
}

.productImageWrapper {
  width: 100%;
  max-width: 500px; /* smaller max-width looks cleaner on large screens */
  aspect-ratio: 1 / 1;
  overflow: hidden;
  margin: 0 auto;
  border-radius: 25px;
  padding: 1rem;
}


.productImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 45px;
  display: block;
  padding: 2rem;
}

@media (min-width: 1200px) {
  .productImageWrapper {
    max-width: 400px;
  }
}